extends layout

block content
  head
    // meta(http-equiv="refresh", content="5")
    script(src="./public/javascripts/client.js")

  p#currentInput Current input: #{currentInput}

  form.selectForm(
    action = "input"
    method = "post"
  )
    select#inputList(name="inputName")
      each n in inputs
        option= n
    button(type = "submit") Submit

  p#currentVideo Current video: #{currentVideo}

  form#skipForm(
    action = "skip"
    method = "post"
  )
    button(type = "submit") Skip

  p#nextVideo Next video: #{nextVideo}

  form.selectForm(
    action = "next"
    method = "post"
  )
    select#videoList(name="nextVideo")
      each n in videos
        option= n
    button(type = "submit") Submit
