extends layout

block content
  head
    // meta(http-equiv="refresh", content="5")
    script(src="./public/javascripts/client.js")

  p Current input: #{currentInput}

  form(
    action = "/input"
    method = "post"
  )
    select(id="inputList" name="inputName")
      each n in inputs
        option= n
    button(type = "submit") Submit

  p Current video: #{currentVideo}

  form(
    action = "/skip"
    method = "post"
  )
    button(type = "submit") Skip

  p Next video: #{nextVideo}

  form(
    action = "/next"
    method = "post"
  )
    select(id="videoList" name="nextVideo")
      each n in videos
        option= n
    button(type = "submit") Submit
