extends layout

block content
  div.container.bg-secondary
    div.row
      div.col.px-4
        h1 Viewparty

      div.col.px-4.align-content-center
        button.btn.btn-light.float-end(
          data-bs-toggle = "modal"
          data-bs-target = "#helpModal"
        ) Help

  div#helpModal.modal.text-black(tabindex = -1)
    div.modal-dialog
      div.modal-content
        div.modal-header
          h1.modal-title Help
          button.btn-close(data-bs-dismiss = "modal")
        div.modal-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, nesciunt? Perspiciatis, perferendis voluptatum obcaecati at laborum nesciunt accusantium quo, voluptates molestiae, delectus omnis placeat enim alias rem necessitatibus dolorum eaque?


  div.container.mt-5
    div.row
      div.col.border.p-3.mx-3
        p#currentInput Current input: #{currentInput}

        form.selectForm(
          action = "input"
          method = "post"
        )
          select#inputList.form-select(name="inputName")
            each n in inputs
              option= n
          button.btn.btn-primary(type = "submit") Submit

      div.col.border.p-3.mx-3
        p#currentVideo Current video: #{currentVideo}

        form#skipForm(
          action = "skip"
          method = "post"
        )
          button.btn.btn-primary(type = "submit") Skip

        p#nextVideo Next video: #{nextVideo}

        form.selectForm(
          action = "next"
          method = "post"
        )
          select#videoList.form-select(name="nextVideo")
            each n in videos
              option= n
          button.btn.btn-primary(type = "submit") Submit
